@{
    ViewData["Title"] = "Home Page";
}

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">100</div>
            <div class="cardName">Students</div>
        </div>
        <div class="iconBx">
            <i class='bx bxs-user'></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">12</div>
            <div class="cardName">Trainers</div>
        </div>
        <div class="iconBx">
            <i class='bx bxs-user-badge'></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">23</div>
            <div class="cardName">Courses</div>
        </div>
        <div class="iconBx">
            <i class='bx bxs-book'></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">23</div>
            <div class="cardName">Average Grade</div>
        </div>
        <div class="iconBx">
            <i class='bx bxs-edit-alt'></i>
        </div>
    </div>
</div>

<!-- details list-->

<div class="details">
    <div class="candidateList">
        <div class="cardHeader">
            <h2>Candidate List</h2>
            <a asp-action="Index" asp-controller="Candidate" class="btn">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bootcamp Batch</th>
                    <th>Domicile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Imano Prasetya</td>
                    <td>3</td>
                    <td>Bogor</td>
                </tr>
                <tr>
                    <td>Irsad Urais</td>
                    <td>2</td>
                    <td>Jakarta</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="candidateList">
        <div class="cardHeader">
            <h2>Courses</h2>
            <a asp-action="Index" asp-controller="Bootcamp" class="btn">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bootcamp Batch</th>
                    <th>Domicile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Imano Prasetya</td>
                    <td>3</td>
                    <td>Bogor</td>
                </tr>
                <tr>
                    <td>Irsad Urais</td>
                    <td>2</td>
                    <td>Jakarta</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
